{% if page.section %}
    <nav class="nav-bar">
        <div class="band__inner-container padded--none">

            {% if page.section == "language" %}
                <!-- Language secondary nav -->
                <ul>
                    <li {% if page.subsection == "colour" %} class="active" {% endif %}><a href="{{ site.baseurl }}/language/colour.html">Colour</a></li>
                    <li {% if page.subsection == "type" %} class="active" {% endif %}><a href="{{ site.baseurl }}/language/type.html">Type</a></li>
                    <li {% if page.subsection == "icons" %} class="active" {% endif %}><a href="{{ site.baseurl }}/language/icons.html">Icons</a></li>
                    <li {% if page.subsection == "photography" %} class="active" {% endif %}><a href="{{ site.baseurl }}/language/photography.html">Photography</a></li>
                </ul>
            {% endif %}

            {% if page.section == "components" %}
                <!-- Components secondary nav -->
                <ul>
                    <li {% if page.subsection == "buttons" %} class="active" {% endif %}><a href="{{ site.baseurl }}/components/buttons.html">Buttons</a></li>
                    <li {% if page.subsection == "controls" %} class="active" {% endif %}><a href="{{ site.baseurl }}/components/controls.html">Controls</a></li>
                    <li {% if page.subsection == "tables" %} class="active" {% endif %}><a href="{{ site.baseurl }}/components/tables.html">Tables (Data)</a></li>
                    <li {% if page.subsection == "header" %} class="active" {% endif %}><a href="{{ site.baseurl }}/components/header.html">Header</a></li>
                    <li {% if page.subsection == "messaging" %} class="active" {% endif %}><a href="{{ site.baseurl }}/components/messaging.html">Messaging</a></li>
                </ul>
            {% endif %}

            {% if page.section == "webtoolkit" %}
                <!-- Toolkit secondary nav -->
                <ul>
                    <li {% if page.subsection == "getting-started" %} class="active" {% endif %}><a href="{{ site.baseurl }}/toolkit/getting-started.html">Getting started</a></li>
                    <li {% if page.subsection == "html-patterns" %} class="active" {% endif %}><a href="{{ site.baseurl }}/toolkit/">HTML Patterns</a></li>
                    <li {% if page.subsection == "design" %} class="active" {% endif %}><a href="{{ site.baseurl }}/toolkit/docs/design/colours.htm">Design</a></li>
                    <li {% if page.subsection == "js-library" %} class="active" {% endif %}><a href="{{ site.baseurl }}/toolkit/docs/js-library/intro.htm">Javascript</a></li>
                    <li {% if page.subsection == "working-practices" %} class="active" {% endif %}><a href="{{ site.baseurl }}/toolkit/docs/working-practices/intro.htm">Working practices</a></li>
                </ul>
            {% endif %}

            {% if page.section == "brand" %}
                <!-- Toolkit secondary nav -->
                <ul>
                    <li {% if page.subsection == "logo" %} class="active" {% endif %}><a href="{{ site.baseurl }}/brand/logo">Logo</a></li>
                </ul>
            {% endif %}

        </div>
    </nav>
{% endif %}
