<div class="band header--primary">
    <nav>
        <a href="/" class="header--primary__app-logo-container">
            <img src="{{ site.baseurl }}/assets/images/gatebase-white.png" class="js-svg" width="25" alt="">
        </a>

        <a href="/" class="header--primary__app-name-container">
            Honeycomb
        </a>

        <ul class="hide-on-medium">
            <li><a href="{{ site.baseurl }}/language/colour.html" {% if page.section == "language" %}class="active"{% endif %}>Language</a></li>
            <li><a href="{{ site.baseurl }}/components/buttons.html" {% if page.section == "components" %}class="active"{% endif %}>Components</a></li>
            <li><a href="{{ site.baseurl }}/brand/logo" {% if page.section == "brand" %}class="active"{% endif %}>Brand</a></li>
        </ul>

        <span class="float-right hide-on-medium">
            <ul>
                <li><a href="{{ site.baseurl }}/toolkit/" {% if page.section == "webtoolkit" %}class="active"{% endif %}>Web Toolkit</a></li>
            </ul>
        </span>

        <span class="hide-on-large show-on-medium float-right">
            <ul>
                <li><a href="#menu" class="header--primary__icon header--primary__menu-button">Menu</a></li>
            </ul>
        </span>

        <ul class="header--primary__menu--mobile js-dropdown">
            <li><a href="{{ site.baseurl }}/language/colour.html" {% if page.section == "language" %}class="active"{% endif %}>Language</a></li>
            <li><a href="{{ site.baseurl }}/components/buttons.html" {% if page.section == "components" %}class="active"{% endif %}>Components</a></li>
            <li><a href="{{ site.baseurl }}/brand/logo" {% if page.section == "brand" %}class="active"{% endif %}>Brand</a></li>
            <li><a href="{{ site.baseurl }}/toolkit/" {% if page.section == "webtoolkit" %}class="active"{% endif %}>Web Toolkit</a></li>
        </ul>
    </nav>
</div>
