.homepage {

    .hero {
        background-image: url("/assets/images/homepage/hero-bg.svg");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: contain;

        @include responsive("medium") {
            background: none;
        }
    }

    .writing-and-brand {
        background-image: url("/assets/images/homepage/section-bg.svg");
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
}

.nav-vertical-icon-cog {
    background-image: url("/assets/images/misc/cog.svg");
}

.nav-vertical-icon-db {
    background-image: url("/assets/images/misc/db.svg");
}

// Hacks for the icon and illustration guide.
.brand-icon {

    .tabbed__content {
        padding-bottom: 0;
    }

    .icon-footer {
        .icon--10x {
            @include font-size(400px, 285px);
        }

        .flex-container {
            display: flex;
            align-items: center;
            min-height: 300px;
        }

        p.beta {
            width: 100%;
        }
    }
}