$hc-icon-font-dir: "../fonts/redgate/";
$hc-font-dir: "../fonts/";
$hc-navigation-images-dir: "../images/vendor/navigation/";
$fancyboxImagesDir: "../images/vendor/fancybox";

@import "honeycomb-web-toolkit/src/honeycomb";
@import "./_prism.scss";

@import "./_site.scss";
