<nav class="nav--vertical">
    <h2>HTML patterns</h2>
    <ul>
	<li><a href="/toolkit/docs/html-patterns/intro.htm">Introduction</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/avatar.htm">Avatar</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/band.htm">Band</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/blockquote.htm">Blockquote / Speech bubble (to do)</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/buttons.htm">Buttons</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/card.htm">Card</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/carousel.htm">Carousel (to do)</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/colour-schemes.htm">Colour schemes</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/forms.htm">Forms</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/grid.htm">Grid</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/icons.htm">Icons</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/images.htm">Images</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/island.htm">Island object (to do)</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/labels.htm">Labels</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/lists.htm">Lists</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/media.htm">Media object</a></li>

	<li><a href="/toolkit/docs/html-patterns/global/navigation/#">Navigation</a>
	    <ul>
		 <li><a href="/toolkit/docs/html-patterns/global/navigation/back-to-top.htm">Back to top (to do)</a></li>
		 <li><a href="/toolkit/docs/html-patterns/global/navigation/breadcrumbs.htm">Breadcrumbs</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/burger.htm">Burger</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/drawer-menu.htm">Drawer menu (to do)</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/header.htm">Header</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/nav-bar.htm">Nav bar</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/pagination.htm">Pagination</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/reveal.htm">Reveal (to do)</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/scroll-to.htm">Scroll to</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/vertical.htm">Vertical</a></li>
		<li><a href="/toolkit/docs/html-patterns/global/navigation/zoom.htm">Zoom</a></li>

	    </ul>
	</li>

	<li><a href="/toolkit/docs/html-patterns/global/notifications/#">Notifications</a>
	    <ul>
		<li><a href="/toolkit/docs/html-patterns/global/notifications/block.htm">Block</a></li>
	     </ul>
	 </li>


	<li><a href="/toolkit/docs/html-patterns/global/padding-and-margins.htm">Padding and margins</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/sharing-buttons.htm">Sharing buttons</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/spinner.htm" class="incomplete">Spinner / Loader <small>(to do)</small></a></li>
	<li><a href="/toolkit/docs/html-patterns/global/tables.htm">Tables</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/tabs.htm">Tabs</a></li>
	<li><a href="/toolkit/docs/html-patterns/global/video-inline.htm">Video (inline)</a></li>
    </ul>
</nav>
