<nav class="nav--vertical">
    <h2>Working practices</h2>
    <ul>
	<li><a href="/toolkit/docs/working-practices/intro.htm">Introduction</a></li>
	<li><a href="/toolkit/docs/working-practices/scaffolding.htm">Project scaffolding</a></li>
	<li><a href="/toolkit/docs/working-practices/html.htm">HTML</a></li>
	<li><a href="/toolkit/docs/working-practices/css.htm">CSS</a></li>
	<li><a href="/toolkit/docs/working-practices/javascript.htm">JavaScript</a></li>
	<!-- <li><a href="/toolkit/docs/working-practices/external-frameworks.htm">External frameworks (review)</a></li> -->
	<li><a href="/toolkit/docs/working-practices/performance.htm">Performance</a></li>
	<li><a href="/toolkit/docs/working-practices/browser-support.htm">Browser and device support</a></li>
	<li><a href="/toolkit/docs/working-practices/mobile.htm">Mobile (review)</a></li>
	<li><a href="/toolkit/docs/working-practices/accessibility.htm">Accessibility</a></li>
	<!-- <li><a href="/toolkit/docs/working-practices/image-optimisation.htm">Image optimisation (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/qa-checklist.htm">Front-end QA checklist (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/seo.htm">Search engine optimisation (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/copy-proofing.htm">Copywriting & proofing (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/version-control.htm">Version control (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/link-policy.htm">Link policy (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/redirects.htm">Re-directs and no-index (to do)</a></li> -->
	<!-- <li><a href="/toolkit/docs/working-practices/sandboxing.htm">Website updates / sandboxing work (to do)</a></li> -->
    </ul>
</nav>