<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - Honeycomb</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/honeycomb.css">
        <script src="{{ site.baseurl }}/assets/js/modernizr.min.js"></script>
    </head>

    <body>

        {% include nav--primary.html %}
        {% include nav--secondary.html %}

        {{ content }}

        <footer class="band scheme--lightest-grey">
            <div class="band__inner-container band__inner-container--tight">
                <p>Honeycomb</p>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/honeycomb.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-90206-156', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
